#cuckoolib
src/main/java/com/github/zi_jing/cuckoolib_testmod
src/main/resources

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
server
.vscode/
